footer.footer
  .footer__title.sub-heading
    h2 THƯỞNG THỨC CÓ TRÁCH NHIỆM, 18+
  ul.footer__links.p-small
    li
      a(href="#") CÁC ĐIỀU KHOẢN VÀ ĐIỀU KIỆN
    li 
      a(href="#") ĐIỀU LỆ BẢO MẬT
    li
      a(href="#") QUYỀN TRUY CẬP
    li
      a(href="#") DRINKAWARE
    li
      a(href="#") DRINKIQ
    li
      a(href="#") THEBAR
  .footer__info.p-extra-small
    p CÁC DÒNG CHỮ JOHNNIE WALKER®, JOHNNIE WALKER® HOUSE, JOHN WALKER & SONS, RED LABEL®, BLACK LABEL®, DOUBLE BLACK™, GOLD LABEL RESERVE™, PLATINUM LABEL™, BLUE LABEL™, XR™, KING GEORGE V™, JOHN WALKER & SONS ODYSSEY™, JOHN WALKER™, DIAMOND JUBILEE™, ADVENTURER™, SPICE ROAD™, GOLD ROUTE™ VÀ THE ROYAL ROUTE™, BIỂU TƯỢNG NGƯỜI ĐÀN ÔNG SẢI BƯỚC VÀ CÁC LOGO LIÊN QUAN LÀ TÀI SẢN ĐÃ ĐĂNG KÝ CỦA CÔNG TY JOHN WALKER & SONS © 2016
