header.header
  .header__container
    button.hamburger.hamburger--collapse(type="button")
      span.hamburger-box
        span.hamburger-inner
    .header__phone
      .header__phone-image.ic-phone
      p.header__phone-number.p-small Liên hệ hotline 1900 636934 để được tư vấn
    nav.header__nav
      ul.header__nav-links
        li
          a.social-media-links.ic-fb-icon(href="#")
        li
          a.social-media-links.ic-twitter-icon(href="#")
        li
          a.social-media-links.ic-instagram(href="#")
        li
          a.social-media-links.ic-youtube-play(href="#")
