section.hero(style="background-image: url('img/hero-background.jpg');" data-jarallax data-speed="0.6")
  .hero__content
    img.hero__logo(src="img/logo-john-walker-and-sons.png")
    .hero__title.main-title
      h2 John Walker & Sons
    .hero__intro.intro-text
      p
        | Mạnh mẽ, cân bằng và thanh tao, JOHN WALKER & SONS XR™21 Năm Tuổi ẩn chứa những lớp hương đậm đà quyến rũ đem đến những sự ngạc nhiên dễ chịu. Vị ngọt cùng với chút cay nồng đã được làm dịu đi được giấu đi sau hương khói nồng ấm. Hương tươi mới của họ cam quýt, hương trái cây nhiệt đới chín mùi và hương caramel quyện trong hương củalá thuốc lá và nho khô. Hậu vị êm mượt kéo dài đầy đam mê quyến rũ.
    .hero__cta
      a.button-outline(href="#")
        span
          | Mua Ngay
    .hero__tag.p-small
      p 
        | Cách Thưởng Thức
    .hero__scroll
      a#hero__scroll-down(href="#")
        img(src="img/down-arrow.png")
