section.info-drink#info-drink
  .info-drink__title.main-heading
    h2 CÁCH THƯỞNG THỨC
  .info-drink__description.p-normal
    p Hãy trải nghiệm hương vị sang trọng, đậm đà và giàu phức hợp hương của John Walker & Sons XR 21. Thóang nhẹ là hương vanilla êm đằm đang quyện trong sự gợi mở ngọt ngào của hương mật ong và cuối cùng là hậu vị êm mượt đến hòan hảo. Tuyệt với nhất khi thưởng thức nguyên chất trong phòng ở nhiệt độ thường, đi cùng là một ly soda ướp lạnh tươi mát.
  img.info-drink__image(src="img/johnnie-walker-double-black-and-soda-hibal.png")
  .info-drink__recipie.p-normal
    p I
    p Chuẩn bị ly whisky cao
    p II
    p Dùng ly định lượng đo lấy 45 ml John Walker & Sons XR 21
    p III 
    p Thưởng thức kèm một ly nước soda lạnh
