extends layout/_layout
block content
  include ./components/_header.pug
  
  main
    include ./components/_hero.pug
    include ./components/_info-drink.pug
    include ./components/_form.pug
    
  include ./components/_footer.pug

  
  
    
    
    
    
  
  
